%h2= t( '.title' )

= t( '.your_roll' )
- @dices.rolls.each do |d|
  = image_tag( "dices/#{d}.svg", class: :dice )

%footer.modal-footer
  Icons made by Delapouite, More info and icons available at http://game-icons.net