%h2
  La saga du prêtre Jean

.row
  .col
    -#= image_tag 'covers/la-saga-du-pretre-jean-01-la-forteresse-d-alamuth.jpg'
    bob le chien
  .col
    Laissant les Croisés rentrer en Angleterre, vous vous lancez dans votre quête. Votre seul point de départ : le Vieux de la Montagne, chef de la terrifiante secte des Assassins, détiendrait le secret de Shangri-La. Encore vous faut-il arriver jusqu'à lui, car son sanctuaire recèle des périls monstrueux qui vous coûteront peut être la vie...

= image_tag 'covers/la-saga-du-pretre-jean-02-l-oeil-du-sphinx.jpg'

= image_tag 'covers/la-saga-du-pretre-jean-03-les-mines-du-roi-salomon.jpg'

= image_tag 'covers/la-saga-du-pretre-jean-04-les-mysteres-de-babylon.jpg'

= image_tag 'covers/la-saga-du-pretre-jean-05-les-adorateurs-du-mal.jpg'

