#main
  #pageContent.col-xs-12
    .list-group
      %h2 Vos possessions
      .list-group-item
        = form_tag adventure_items_path( @adventure ), method: :patch do

          - 1.upto(20).each do |index|
            .row.row-separation
              .col-xs-6.col-md-10
                = text_field_tag "inventory[#{index}]", @items[index.to_s], class: 'form-control'

              .col-md-2
                = submit_tag 'Mettre à jour', class: 'form-control'

  #pageFooter.col-xs-12