#main.container.container-fluid
  #pageContent.col-xs-12

    %h2 Liste des bugs en cours

    %table.table
      %tr
        %th
          Description
        %th
          Page

      - @bugs.each do |bug|
        %tr
          %td
            = bug.info
          %td
            = bug.page_id

    #pageFooter.col-xs-12