.page-header
  %h1= t( '.title' )

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th
        %th

    %tbody
      - @monsters.each do |monster|
        %tr
          %td= monster.name
          %td= link_to t( '.add_monster_to_page' ), fight_add_monster_url( fight_id: @adventure.id, monster_id: monster.id ), method: :patch
          %td= link_to t( '.fight' ), fight_url( @adventure )
